body.brew,
html {
    overflow-x: hidden;
}

body.brew {
    min-width: 320px;
    font-family: CiscoSans, Arial, sans-serif;
    color: #424445;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    background: #fff;
    margin: 0px;
}

.brew h1 {
    font-size: 5vw;
    line-height: 5.3vw;
    margin: 4.7% 0px;
    text-align: center;
}

.brew h2 {
    font-size: 3.1vw;
    line-height: 4.1vw;
    margin: 0px;
}

.brew p {
    font-size: 2.03vw;
    line-height: 2.2vw;
    margin: 0px;
}

.brew h1,
.brew h2,
.brew p {
    font-weight: 300;
    color: #424445;
    /* z-index: 10; */
}
.flex-brew {
    display: flex;
}
.brew .white {
    color: #fff;
}
.brew .dark-bg {
    margin-top: 8.5%;
    padding: 2.1%;
    background-color: #0F274D;
    text-align: center;
}
.brew .grey-bg {
    background-color: #E2E2E2;
    padding: 2.3%;
    text-align: center;
}
.brew .text-1 {
    margin-top: 38.5%
}
.brew .text-2 {
    text-align: center;
    margin: 9.3% 0 7%;
}
.brew .text-3 {
    text-align: center;
    margin: 38.9% 0 0;
}
.brew .text-4 {
    text-align: end;
    margin: 59% 11% 0 0;
}
.brew .text-5 {
    margin: 36% 0 19.4% 11%;
}
.brew .text-6 {
    text-align: center;
    margin: 8.7% 0 0;
}
.brew .text-7 {
    margin: 51.9% 0% 0% 56.8%;
}
.brew .text-8 {
    margin: 19.8% 0% 9.2% 11.1%;
}
.brew .text-9 {
    margin: 9.9% 0% 19.4% 11%;
}
.brew .text-10 {
    margin: 0 0 18.5% 57.3%;
}
.brew .text-11 {
    margin: 18.2% 0% 17.5% 11%;
}
.brew .text-12 {
    margin: 0 11% 17.5% 0%;
    text-align: end;
}
.brew .text-13 {
    text-align: center;
    margin: 9.4% 0 0 0;
}
.brew .text-14 {
    margin: 45.9% 20% 8.2%;
    justify-content: space-around;
}
.brew .text-14 p {
    text-align: center;
}
.brew .text-15 {
    padding: 4.3% 0;
}
.brew .text-16 {
    text-align: center;
    margin: 22.7% 0 0;
}
.brew .text-17 {
    margin: 6.8% 4.5% 0%;
    justify-content: space-around;
}
.brew .text-17 p {
    text-align: center;
}
.brew .text-18 {
    margin: 11.7% 13.7% 0%;
    justify-content: space-between;
}
.brew .text-18 p {
    text-align: center;
}
.brew .text-19 {
    text-align: center;
    margin: 3% 0 0;
}
.brew .position-up {
    transform: translateX(-50%) translateY(-53%);
    -webkit-transform: translateX(-50%) translateY(-53%);
}
.brew .position-up.showRight {
    transform: translateX(0%) translateY(-53%);
    -webkit-transform: translateX(0%) translateY(-53%);
}
.brew .position-up-1 {
    transform: translateX(50%) translateY(-119%);
    -webkit-transform: translateX(50%) translateY(-119%);
}
.brew .position-up-1.showLeft {
    transform: translateX(0%) translateY(-119%);
    -webkit-transform: translateX(0%) translateY(-119%);
}
.brew .position-up-2 {
    transform: translateX(50%) translateY(-100%);
    -webkit-transform: translateX(50%) translateY(-100%);
}
.brew .position-up-2.showLeft {
    transform: translateX(0%) translateY(-100%);
    -webkit-transform: translateX(0%) translateY(-100%);
}
.brew .position-up-3 {
    transform: translateX(-50%) translateY(-113%);
    -webkit-transform: translateX(-50%) translateY(-113%);
}
.brew .position-up-3.showRight {
    transform: translateX(0%) translateY(-113%);
    -webkit-transform: translateX(0%) translateY(-113%);
}